extends layout

block scripts
	script.
		$(function() {
			$( "#datepicker" ).datepicker();
		});
	
block subnav
	#subnavBtn
		mtl.
			incomes_spending
	.subnav
		ul
			a(href="/treasury")
				li
					mtl.
						treasuries
			a(href="/incomesSpending")
				li
					mtl.
						incomes_spending
			a(href="/treasuryTransfer")
				li
					mtl.
						treasury_transfer
block content
	h1 
		mtl.
			add_income_spending
	form.addIncomeSpending(name="addIncomeSpending",method="post",action="/addIncomeSpending", onsubmit="return confirm('Are you sure you want to submit?')")
		input(type="text", placeholder="description", name="description", required)
		input(type="text", placeholder="date", name="date", id="datepicker", required)
		.formSelectTitle
			mtl.
				treasury
		select(type="text", placeholder="treasury", name="treasury", id="treasury")
			each treasury, i in treasuries
				option(value="#{treasury._id}") #{treasury.title}
		input(type="text", placeholder="amount", name="amount", required)
		button#btnSubmit(type="submit") submit