extend layout
block content
	h1.
		Mirror-Mirror
	p.
		Welcome to the Mirror-Mirror
	ul.loginform
		form.login(name="login",method="post",action="/login")			
			input(type="text", placeholder="username", name="user")
			input(type="text", placeholder="password", name="password")
			button#btnSubmit(type="submit") sign_in
		