doctype html
html
	head
		title #{title} - Mirror-Mirror (pub economy system)
		link(rel='stylesheet',href='/css/styles.css')
		script(type='text/javascript' src='/js/jquery.js')
		script(type='text/javascript' src='/js/multiLang.js')
		block scripts
	body
		block scripts
		header
			.container
				h1 Mirror-Mirror
				.nav
					ul
						li <a href="/storage"><mtl>storage</mtl></a>
						li <a href="/purchase"><mtl>purchases</mtl></a>
				block subnav
		.container
				.main-content
					block content
				.sidebar
					block sidebar
			footer
				.container
					p Copyright &copy; 2014
			