extends layout

block content
	form.addPurchase(name="addpurchase",method="post",action="/addpurchase")
		input(type="text", placeholder="description", name="description")
		input(type="text", placeholder="date", name="date")
		input(type="text", placeholder="supplier", name="supplier")
		select(type="text", placeholder="treasury", name="treasury", id="treasury")
				each treasury, i in treasuries
					option(value="#{treasury._id}") #{treasury.title}
		button#btnSubmit(type="submit") submit
	p.
		<br>
		<a href="/storage">Go Back</a>