extends layout

block content
	h1=title
	table.purchasetable
		thead
			tr
				th.
					Popis
				th.
					Cena
		tbody
			each purchase, i in purchases
				tr
					td.
						#{purchase.description}
					td.
						#{purchase.total_amount}
			
	p.
		<br>
		<a href="/">Go Back</a>	

block sidebar
	h1=title
	form.addPurchase(name="addpurchase",method="post",action="/addpurchase")
		input(type="text", placeholder="Popis", name="description")
		button#btnSubmit(type="submit") submit
	p.
		<br>
		<a href="/storage">Go Back</a>