extend layout

block scripts
	script.
		$(document).ready(function() {
			alignTable();
		});

block subnav
	#subnavBtn
		mtl.
			treasuries
	.subnav
		ul
			a(href="/treasury")
				li
					mtl.
						treasuries
			a(href="/incomesSpending")
				li
					mtl.
						incomes_spending
			a(href="/treasuryTransfer")
				li
					mtl.
						treasury_transfer
	#addBtn
		a(href="/addTreasuryForm")
			img(src="/images/butAdd.png")			

block content
	h1
		mtl.
			treasuries
	table.treasury
		thead
			tr
				th
					mtl.
						title
				th.odd
					mtl.
						status
		tbody
			each treasury, i in treasuries
				tr
					td.column-0.
						#{treasury.title}
					td(class="column-1 odd").
						#{treasury.status}
					td
						form.remTreasury(name="remTreasury",method="post",action="/remTreasury", onsubmit="return confirm('Are you sure you want to submit?')")
							input(type="hidden", name="remId" value="#{treasury._id}")
							button#btnSubmit(type="submit") X
