/*
 * Import Nib
 */
@import 'nib'

/*
 * Nib Reset File
 */
global-reset()

/*
 * Set Variables
 */
main-color = #bbbbbb
background-color = #06050C

body
  font-family 'Arial'
  font-size 14px
  background-color background-color
  background url("../images/bg.png") 0 100% no-repeat
  background-size 100% auto
  color main-color

h1
  font-size 20px
  line-height 1.8em

a
  color #666666

header
  color #fff
  height 1.3em
  font-size 25px
  margin-bottom 20px
  background-color main-color

.container
  margin auto
  overflow hidden
  padding 0 1em
  
.logo 
  display inline-block
  margin-right 5%
  height 1em
  margin-top 0.1em
  
.navhandler
    display inline-block
    vertical-align top

.main-content
  float left
  width 70%

  p
    margin-bottom 20px

.sidebar
  float right
  width 27%

  .block
    border-radius 5px
    border 1px solid #ccc
    padding 0 10px 10px 10px
    background-color rgba(22,21,44,0.5)
    overflow hidden

    h1
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #ddd
      border-radius 2px 2px 0px 0px
      margin-bottom 10px


p
  line-height 1.8

.readmore
  float right

.readmore a
  color #666

footer
  border-top 1px dotted #ccc
  padding-top 5px
  text-align center
  margin-top 20px
  position fixed
  bottom 0
  width 100%

br
  clear both

ul.featurelist
  margin-bottom 20px
  display block
  overflow auto;

ul.featurelist li
  line-height 2em 
  border-bottom #cccccc 1px dotted
  float left
  width 200px

form input
  margin-bottom 15px
  border 1px #cccccc solid
  padding 5px
  height 22px
  width 95%
  color main-color
  background background-color
  border-radius 5px

form button
  clear both
  display block
  color main-color
  background background-color
  border-radius 5px
  width 100%
  line-height 1.5em
  margin-top 1em

form select
  background background-color
  border-radius 5px
  color main-color
  
.formSelectTitle
  display inline-block
  margin-right 1em

.userlistlink
  clear both
  padding 5px
  background #cccccc
  margin-bottom 20px
  display block

.userlistlink p
  margin 0
  padding 0

table
  width 100%
  background-color rgba(22,21,44,0.5)
  padding 1em
  
thead tr
  background rgba(0,0,4,0.5)
  
th,tr,td
  padding 5px

tr
  border-bottom 1px #cccccc dashed
  display block
 
tr.odd
	background rgba(22,21,84,0.5)

td
  white-space nowrap
  
td,th
  width 100px
  text-align left
/*
 *	nav
 */
.nav li
	display inline-block
.nav li a
	color rgb(255,255,255)
	font-size 0.7em
	padding-left 0.5em
	padding-right 0.5em
	line-height 1.5em
/*
 * subnav
 */ 
.subnav
	background rgba(255,255,255,0.8)
.subnav li
	display inline-block
.subnav li a
	color rgb(12,12,12)
	font-size 0.6em
	padding-left 0.5em
	padding-right 0.5em
	line-height 1.5em
  
  
@media (max-width: 568px)
  header
    text-align center

  .main-content
    float none
    width 100%
    clear both
    text-align center

  .sidebar
    float none
    width 100%
    clear both
    text-align center

  .sidebar .block
    margin 0

  ul.featurelist li
    line-height 2em 
    border-bottom #cccccc 1px dotted
    float none
    width 100%

  footer
    text-align center