/*
 * Import Nib
 */
/*
 * Nib Reset File
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Set Variables
 */
body {
  font-family: 'Arial';
  font-size: 14px;
  background-color: #06050c;
  background: url("../images/bg.png") 0 100% no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  color: #bbb;
}
h1 {
  font-size: 20px;
  line-height: 1.8em;
}
a {
  color: #666;
}
header {
  color: #fff;
  height: 1.3em;
  font-size: 25px;
  margin-bottom: 20px;
  background-color: #bbb;
}
.container {
  margin: auto;
  overflow: hidden;
  padding: 0 1em;
}
.logo {
  display: inline-block;
  margin-right: 5%;
  height: 1em;
  margin-top: 0.1em;
}
.navhandler {
  display: inline-block;
  vertical-align: top;
}
.main-content {
  float: left;
  width: 70%;
}
.main-content p {
  margin-bottom: 20px;
}
.sidebar {
  float: right;
  width: 27%;
}
.sidebar .block {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px 10px 10px;
  background-color: rgba(22,21,44,0.5);
  overflow: hidden;
}
.sidebar .block h1 {
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}
.readmore {
  float: right;
}
.readmore a {
  color: #666;
}
footer {
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  text-align: center;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
br {
  clear: both;
}
ul.featurelist {
  margin-bottom: 20px;
  display: block;
  overflow: auto;
}
ul.featurelist li {
  line-height: 2em;
  border-bottom: #ccc 1px dotted;
  float: left;
  width: 200px;
}
form input {
  margin-bottom: 15px;
  border: 1px #ccc solid;
  padding: 5px;
  height: 22px;
  width: 95%;
  color: #bbb;
  background: #06050c;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
form button {
  clear: both;
  display: block;
  color: #bbb;
  background: #06050c;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  line-height: 1.5em;
  margin-top: 1em;
}
form select {
  background: #06050c;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #bbb;
}
.formSelectTitle {
  display: inline-block;
  margin-right: 1em;
}
.userlistlink {
  clear: both;
  padding: 5px;
  background: #ccc;
  margin-bottom: 20px;
  display: block;
}
.userlistlink p {
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  background-color: rgba(22,21,44,0.5);
  padding: 1em;
}
thead tr {
  background: rgba(0,0,4,0.5);
}
th,
tr,
td {
  padding: 5px;
}
tr {
  border-bottom: 1px #ccc dashed;
  display: block;
}
tr.odd {
  background: rgba(22,21,84,0.5);
}
td {
  white-space: nowrap;
}
td,
th {
  width: 100px;
  text-align: left;
}
/*
 *	nav
 */
.nav li {
  display: inline-block;
}
.nav li a {
  color: #fff;
  font-size: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 1.5em;
}
/*
 * subnav
 */
.subnav {
  background: rgba(255,255,255,0.8);
}
.subnav li {
  display: inline-block;
}
.subnav li a {
  color: #0c0c0c;
  font-size: 0.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 1.5em;
}
@media (max-width: 568px) {
  header {
    text-align: center;
  }
  .main-content {
    float: none;
    width: 100%;
    clear: both;
    text-align: center;
  }
  .sidebar {
    float: none;
    width: 100%;
    clear: both;
    text-align: center;
  }
  .sidebar .block {
    margin: 0;
  }
  ul.featurelist li {
    line-height: 2em;
    border-bottom: #ccc 1px dotted;
    float: none;
    width: 100%;
  }
  footer {
    text-align: center;
  }
}
